services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.production
    command: make test
    image: valrythx/devops-for-developers-project-74:latest
    volumes:
      - ./app:/app
    working_dir: /app
